a[href*="https://www.google.com/"] {
	color:green;
}
a[target] {
	color:red;
}
#first-div > p::after{
	content:"NEW";
	color:yellow
}
#second-div > p:nth-child(even){
	color:red;
}
#second-div > p:nth-child(odd){
	color:blue;
}
body > p:hover:nth-last-child(1) {
	font-style:italic;
}